*{
    margin: 0;
    padding: 0;
}

/*.container_0{
    display: flex;
    justify-content: center;
    
}
*/ 
.container_1{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: -100px;
}

.container_2 {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}

#deposito,
#saldo,
#saque {
    display: flex;
    flex-direction: column;
}

.B_deposito {
    margin: 5px;
    border-radius: 5px;
    color: green;
}


